@inherits LayoutComponentBase
@using Microsoft.JSInterop

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<script>
    function toggleTheme(){
        var body = document.body;
        var theme = body.dataset.bsTheme === 'light' ? 'dark' : 'light';
        body.dataset.bsTheme = theme;

        var backgroundColor = theme === 'light' ? '#FFFFFF' : '#212529';
        document.getElementById("minhaDiv").style.backgroundColor = backgroundColor;

        var newThemeIcon = theme === 'light' ? 'bi bi-moon-fill' : 'bi bi-brightness-high-fill';
        document.getElementById("themeIconBottom").className = newThemeIcon;
        document.getElementById("themeIcon").className = newThemeIcon;
    }
</script>
<div class="page">
    <div class="main">
        <div id="minhaDiv" class="navigation-bar">
            <div class="navigation-title">
                <p class="item-menu-initial">Anderson</p>
            </div>
            <div class="navigation-itens">
                @foreach (var item in menu)
                {
                    if(item.IsSelected)
                    {
                        <p class="item-menu primary-color">@item.Text</p>
                    }
                    else
                    {
                        <p class="item-menu" @onclick="@(() => ToggleNavMenu(item))">@item.Text</p>
                    }
                }
                <i id="themeIcon" class="bi bi-brightness-high-fill" style="color: #F1BC03;" width="30" alt="Selecione o tema" onclick="toggleTheme()"/>
            </div>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
    <div class="nav-bar-bottom bg-body-secondary">
        <div class="icon-container">
            @foreach (var item in menu)
            {
                if(item.IsSelected)
                {
                    <i class="bi @item.Icon primary-color" width="40" alt="@item.Text"/>
                }
                else
                {
                    <i class="bi @item.Icon" width="40" alt="@item.Text" @onclick="@(() => ToggleNavMenu(item))"/>
                }
            }
            <i id="themeIconBottom" onclick="toggleTheme()" class="bi bi-brightness-high-fill" style="color: #F1BC03;" width="30" alt="Light theme"></i>
        </div>
    </div>
</div>

@code{

    [Inject]
    private IJSRuntime JSRuntime { get; set; }
    private string currentTheme = "light"; 

    List<Menu> menu = new List<Menu>()
    {
        new Menu(){ Id=1, Text="Home", Icon="bi-house-fill", Page="/"},
        new Menu(){ Id=2, Text="Newsletter", Icon="bi-newspaper", Page="/newsletter"}
    };

    protected override void OnInitialized()
    {
        var relativeUri = new Uri(NavigationManager.Uri).PathAndQuery;

        var selectedMenu = menu
            .FirstOrDefault(menu => menu.Page.Equals(relativeUri, StringComparison.OrdinalIgnoreCase));
        
        if (selectedMenu != null)
            selectedMenu.IsSelected = true;
    }

    private void ToggleNavMenu(Menu item)
    {
        foreach(var items in menu)
            items.IsSelected = false;

        item.IsSelected = true;

        string navigation = string.Empty;
        switch(item.Id) 
        {
            case 1:
                navigation = "/";
                break;
            case 2:
                navigation = "newsletter";
                break;
        }

        NavigationManager.NavigateTo(navigation);
    }

    @* private async Task ToggleTheme()
    {
        // Inverte o tema atual
        currentTheme = currentTheme == "light" ? "dark" : "light";

        // Atualiza o tema diretamente no DOM usando IJSRuntime
        await JSRuntime.InvokeVoidAsync("toggleTheme", currentTheme);
    } *@
}
